<!DOCTYPE html>
<html data-ng-app="chat">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/style.css">
    <script src="/sock.js"></script>
    <script type="application/javascript" src="/vertxbus.js"></script>
    <script type="application/javascript"
            src="/angular.js"></script>

    <script type="application/javascript">
        var chat = angular.module('chat', []);

        var username = "czesław";
        var group = "red";
        var users = [
            {username: "czesio"},
            {username: "wiesio"},
            {username: "stasia"}
        ];

        var eb = null;
        var g_messages = [{from: username, message: "msg1", class: "normal", date: null}];
        var chat_scope = null;

        eb = new vertx.EventBus(document.location.href + "eventbus");

        chat.controller('chatController', function ($scope) {
            this.messages = g_messages;
            var message = this.msg = {from: username, message: "example", class: "normal", date: null};
            chat_scope = $scope;

            $scope.users = users;

            $scope.send = function () {
                var address = 'chat.message';
                if (message.message.indexOf('/whisper ') == 0) {
                    message.message = message.message.substring(9);
                    username = message.message.substring(0, message.message.indexOf(' '));
                    message.message = message.message.substring(message.message.indexOf(' '));
                    address = 'chat.message.' + username;
                    message.class = "toWhisper";
                    message.date = new Date();
                    g_messages.push(message);
                }

                if (message.message.indexOf('/group') == 0) {
                    message.message = message.message.substring(6);
                    address = 'chat.message.' + group;
                }

                eb.publish(address, message);
                message.message = '';
            };

            $scope.usernameClicked = function(user) {
                message.message = '/whisper ' + user.username;
            }
        });

        eb.onopen = function () {
            var handleMsg = function (msg) {
                msg.date = new Date();
                g_messages.push(msg);
                chat_scope.$apply();
            };
            eb.registerHandler("chat.message", function (msg) {
                handleMsg(msg);
            });

            eb.registerHandler("chat.message." + username, function (msg) {
                msg.class = "whisper";
                handleMsg(msg);
            });

            eb.registerHandler("chat.message." + group, function (msg) {
                msg.class = "group";
                handleMsg(msg);
            });
        };

        eb.onclose = function () {
            eb = null;
        };
    </script>

</head>
<body>
<div id="chat" data-ng-controller="chatController as cnt">
    <h3>Users</h3>
    <ul>
        <li data-ng-repeat="user in users" ng-click="usernameClicked(user)">{{ user.username }}</li>
    </ul>
    <h3>Chat</h3>
    <form ng-submit="send()">
        <input type="text" data-ng-model="cnt.msg.message" id="msg"><br>
    </form>
    <ul id="messageList">
        <li data-ng-repeat="msg in cnt.messages" ng-class="msg.class"><strong>{{ msg.from }} ({{ msg.date | date: 'mediumTime' }})</strong> {{ msg.message }}
        </li>
    </ul>
</div>
</body>
</html>