<!DOCTYPE html>
<html data-ng-app="app">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/style.css">
    <script src="/jquery.js"></script>
    <script src="/sock.js"></script>
    <script type="application/javascript" src="/vertxbus.js"></script>
    <script type="application/javascript" src="/angular.js"></script>
    <script type="application/javascript" src="/fabric.js"></script>
    <script type="application/javascript" src="js/lib/angular-vertxbus.min.js"></script>
    <script type="application/javascript">
        var app = angular.module('app', ['knalli.angular-vertxbus']);

        app.controller('chatController', ["$scope", "$rootScope", "vertxEventBusService", function ($scope, $rootScope, vertxEventBusService) {
            var _self = this;
            var username = "czesław";
            var group = "red";
            var users = [
                {username: "czesio", team: "Red"},
                {username: "wiesio", team: "Red"},
                {username: "stasia", team: "Blue"}
            ];

            var eb = vertxEventBusService;
            var g_messages = [];
            var chat_scope = null;
            _self.logged = false;


            var createEmptyMessage = function () {
                return {from: username, message: "", class: "normal", date: null};
            };

            function scrollChatWindow() {
                var $messageList = $('#messageList');
                $messageList.scrollTop($messageList.find('ul').height());
            }

            this.messages = g_messages;
            var message = $scope.message = createEmptyMessage();
            chat_scope = $scope;

            $scope.users = users;

            $scope.send = function () {
                var address = 'chat.message';
                if (message.message.indexOf('/whisper ') == 0) {
                    message.message = message.message.substring(9);
                    var to = message.message.substring(0, message.message.indexOf(' '));
                    message.message = message.message.substring(message.message.indexOf(' '));
                    address = 'chat.message.' + to;
                    message.class = "toWhisper";
                    message.date = new Date();

                    var cloned = {};
                    angular.copy(message, cloned);
                    cloned.from = "Whisper to: " + to;
                    g_messages.push(cloned);
                }

                if (message.message.indexOf('/group') == 0) {
                    message.message = message.message.substring(6);
                    address = 'chat.message.' + group;
                }

                eb.publish(address, message);
                $scope.message = message = createEmptyMessage();
                setTimeout(function() { // hack :/
                    scrollChatWindow();
                }, 10);
            };

            $scope.usernameClicked = function (user) {
                message.message = '/whisper ' + user.username + ' ';
                $('#msg').focus();
            }

            var handleMsg = function (msg) {
                msg.date = new Date();
                g_messages.push(msg);
                chat_scope.$apply();
                scrollChatWindow();
            };

            eb.addListener("chat.message", function (msg) {
                handleMsg(msg);
            });

            eb.addListener("chat.message." + username, function (msg) {
                msg.class = "whisper";
                handleMsg(msg);
            });

            eb.addListener("chat.message." + group, function (msg) {
                msg.class = "group";
                handleMsg(msg);
            });

            $rootScope.$on("logged", function() {
                _self.logged = true;
            });

            $rootScope.$on("disconnected", function() {
                _self.logged = false;
            });
        }]);


        $(document).ready(function () {
            $(window).keyup(function (event) {
                var msgInput = $('#msg');
                if (event.keyCode == 84) {
                    msgInput.focus();
                }

                if (event.keyCode == 27 && msgInput.is(":focus")) {
                    msgInput.blur();
                }
            });
        });
    </script>
    <script src="js/login.js" type="application/javascript"></script>
    <script src="js/board.js" type="application/javascript"></script>
</head>
<body>
<div id="chat" data-ng-controller="chatController as cnt" data-ng-show="cnt.logged">
    <div id="usersWrapper">
        <div class="usersList">
            <h3>Users</h3>
            <ul class="chatList">
                <li data-ng-repeat="user in users" ng-click="usernameClicked(user)" class="{{ user.team }}">{{
                    user.username }} ({{ user.team }})
                </li>
            </ul>
        </div>
    </div>
    <div id="chatWrapper">
        <div class="chatBox">
            <h3>Chat</h3>

            <div id="messageList">
                <ul class="chatList">
                    <li data-ng-repeat="msg in cnt.messages" ng-class="msg.class"><strong>{{ msg.from }} ({{ msg.date |
                        date:'mediumTime' }})</strong> {{ msg.message }}
                    </li>
                </ul>
            </div>
            <div id="sendForm">
                <form ng-submit="send()">
                    <input type="text" data-ng-model="message.message" id="msg"><br>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="board" data-ng-controller="gameController as cnt" data-ng-show="cnt.logged">
    <canvas id="gameVisualisation">
        Your browser does not support Canvas element. Shame on you!
    </canvas>
    <img src="fighter.png" id="plane" class="boardImage" />
    <img src="missile.png" id="missile" class="boardImage" />
</div>

<div id="loginContainer" data-ng-controller="loginController as cnt">

    <form name="loginForm" data-ng-hide="cnt.logged">
        <h1>Login</h1>
        <label for="login">Login:</label>
        <input name="login" id="login" data-ng-model="cnt.user.login"/>
        <br/>

        <label for="group">Group:</label>
        <select name="group" id="group" data-ng-model="cnt.user.group">
            <option selected="selected" value="red">red</option>
            <option value="blue">blue</option>
        </select>
        <button data-ng-click="cnt.connect(cnt.user)" type="submit" data-ng-disabled="cnt.user.login.length==0">Login</button>
    </form>

    <button data-ng-click="cnt.logout()" type="button" data-ng-show="cnt.logged">Logout</button>

</div>
</body>
</html>